<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h3 class="mb-5">{{'headTitle' | translate}}</h3>
      <app-multiple-dropdown (selectResult)="getSelectedItems($event)"
                             [isSearchable]="true"
                             [items]="items"
                             dropdownName="select"
                             translateObjectKey="name">
      </app-multiple-dropdown>
      <div class="mt-5">Selected Items:  {{selectedItems | json}}</div>
    </div>
  </div>
</div>
